<footer class="footer">
    <div class="f-info">
        <a class="navbar-brand f-info-brand" href="/"><i class="fa-solid fa-square-poll-vertical"></i><span class="brand">E-Vote</span></a>
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            </div>
        <div class="f-info-links">
            <a href="#">.About</a>
            <a href="#">.Privacy Policy</a>
            <a href="#">.Contact</a>
        </div>
        </div>
</footer>