<nav class="navbar navbar-expand-md  bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-square-poll-vertical"></i><span class="brand">E-Vote</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
     <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ms-auto">
        <% if(!currUser){%>
            <a class="nav-link" href="/auth/login"><button class="btn btn-light login">Login</button></a>
            <a class="nav-link" href="/auth/register"><button class="btn btn-primary">signUp</button></a>
       <% } %>
       <%if(currUser){%>
            <a class="nav-link" href="/auth/logout"><button class="btn btn-primary">Logout</button></a>
      <% }%>
    </div>
      </div>
    </div>
  </nav>